header {
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 15px;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.infome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text {
    padding: 20px;
    width: 50%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}